#main{
    width: 50%;
  margin: auto;
   
    
    text-align: center;
    justify-content: center;
    align-items: center;
   
}
body{
    background-color: rgb(101, 93, 93);
}
#logo{
    justify-content: center;
    align-items: center;
    margin: auto;
    margin: 2%;
 
}
#submit{
    
    height: 50px;
    width: 100px;
    background-color: blue;
    color: white;
    margin: 2%;
    border: 0px;
}
#logo:hover{
    box-shadow: rgba(4, 4, 4, 0.35) 0px 5px 15px;
}
#submit:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}